<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plantilla- N</title>
</head>
<body>
    <div> 
        @RenderBody()
        <p>
            @RenderSection("textoParrafo", required: false)
        </p>
    </div>
</body>-m-
</html> tg
