@model ASP_DS.Models.usuariorol

@{
    ViewBag.Title = "Detalles - UsuarioRol";
}

<h2>Detalles</h2>

<div>
    <h4>UsuarioRol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Usuario:
        </dt>

        <dd>
            @ASP_DS.Controllers.UsuarioRolController.nombreUsuario(Model.idUsuario)
        </dd>

        <dt>
            Rol:
        </dt>

        <dd>
            @ASP_DS.Controllers.UsuarioRolController.nombreRol(Model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver Todos", "Index")
</p>
