@model ASP_DS.Models.producto_imagen

@{
    ViewBag.Title = "Detalles - ImagenProducto";
}

<h2>Detalles</h2>

<div>
    <h4>Producto Imagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imagen:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            Nombre Producto:
        </dt>

        <dd>
            @ASP_DS.Controllers.ProductoImagenController.nombreProducto(Model.id_producto)  
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver Todos", "Index")
</p>
